* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #1d1d1d;
  --secondary-color: #3f3f3f;
  --third-color: rgb(200 200 200);
  --accent-color: #bb86fc;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  font-family: system-ui, sans-serif;
  color: var(--third-color);
  background: var(--main-color);
}

main {
  padding: 1rem;
  width: 100vw;
  max-width: 1280px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

h1 {
  font-weight: bold;
}

.container {
  padding: 0 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 3rem;
}

.wrapper-title {
  margin: 2rem 0 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.wrapper-title > h5 {
  font-weight: 400;
}

.wrapper-params {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.wrapper-key {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex: 1 1 11rem;
}

.params {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 2rem;
  flex: 1 1 15rem;
}

.wrapper-toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#run {
  all: unset;
  margin-left: 3rem;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  background: var(--accent-color);
  color: var(--main-color);
  border-radius: 0.7rem;
  cursor: pointer;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
}

input,
textarea {
  all: unset;
  padding: 0.5rem 1rem;
  width: 100%;
  background: var(--secondary-color);
  text-align: left;
  border-radius: 1rem;
}

#key {
  border-radius: 0.7rem;
}

textarea {
  height: 20vh;
}

.text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex: 1 1 15rem;
}

label {
  width: 100%;
  text-align: left;
}

#error {
  color: #e63b3b;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 3.65rem;
  height: 1.5rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 1rem;
  width: 1rem;
  left: 4px;
  bottom: 4px;
  background-color: var(--secondary-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--accent-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--accent-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(1rem);
  -ms-transform: translateX(1rem);
  transform: translateX(1rem);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* @media screen and (max-with: 768px) {

} */

@media screen and (max-with: 425px) {
  .container {
    padding: 0 1rem;
  }
}
